<!-- <ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <i>
                {{p.title}}
              </i>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>  
</ion-app> -->


<ion-content>

    <!-- <ion-item>
        <ion-avatar  slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-grid>
            <ion-row style="text-overflow: ellipsis;">sadasasdasdasd asd as das d asd </ion-row>            
            <ion-row class="currentColor">{{addres</ion-row>
            <ion-row class="currentColor">for-project}}</ion-row>
            <ion-row class="currentColor">{{name}</ion-row>
            <ion-row class="currentColor">job Date-{date|date : " MMMM d, y"}}</ion-row>
            
        </ion-grid>
        <ion-note item-end style="align-self: center" >1:12 pm</ion-note>
      </ion-item> -->

    <div *ngFor="let d of data">
      <app-card-component datapacket="{{d}}"></app-card-component>
    </div>
</ion-content>