<ion-card class="curserover" >
  <ion-card-content class="nopadding">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="{{icon}}">
          </ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title size="12" class="nopadding">{{name}}-{{type}}aaaaaaaa aaaaaaa aaaaaaaa</ion-title>
          <ion-row>{{name}}</ion-row>
          <ion-row>{{name}}</ion-row>
          <ion-row>{{name}}</ion-row>
          <ion-row>{{name}}</ion-row>
        </ion-col>
        <ion-col size="2">
           <div><ion-icon  name="ios-arrow-forward">
            </ion-icon></div> 
          </ion-col>
        
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>