<!-- <ion-card class="nopadding">
  <ion-card-content class="nopadding">
      <ion-item>
          <ion-avatar slot="start">
            <img src="/assets/icon/{{project}}.png">
          </ion-avatar>
          <ion-grid style="width:100%; " >
            <p class="cut-text " style="font-size: 16px;">#{{id}}-{{name}}-{{project}}-{{address}}</p>
            <p class="currentColor">{{address}}</p>
            <p class="currentColor">for-{{project}}</p>
            <p class="currentColor">{{name}}</p>
            <p class="currentColor">job Date-{{date|date : " MMMM d, y"}}</p>
          </ion-grid>
          <ion-note item-end style="align-self: center"><ion-icon name="ios-arrow-forward"></ion-icon></ion-note>
        </ion-item>
  </ion-card-content>
</ion-card> -->
  {{datapacket.id}}